<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<form th:action="@{/save}" th:object"${tutorial}" >
		<input type="hidden" th:field="*{tutorial.id}" />
		<input type="text" th:field="*{tutorial.title}" placeholder="Enter Title" /><br>
		<input type="text" th:field="*{tutorial.description}" placeholder="Enter Description"  /><br>
		<input type="submit" value="Save" class="btn btn-primary col-2"/>
	</form>

	<hr />
    <a th:href="@{/list}">Back to list</a>
</body>
</html>